/*  Dropdown menu*/

.navbar-header
.navbar-toggle .icon-bar {
  background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

ul.sub-menu {
  position: absolute;
  top: 35px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 220px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 999;
}

.dropdown ul.sub-menu li .active{
  color: #FDB45E;
  padding-left: 0;
}


.navbar-nav li ul.sub-menu li{
  padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a{
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover{
  color: #FDB45E;
}

.fa-angle-down{
  padding-left: 5px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}









.login-form {

}

.signup-form {

}

.login-form h2, .signup-form h2 {
  color: #696763;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}


.login-form form input, .signup-form form input {
  background: #C8C8C8;
  border: medium none;
  color: #696763;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form button, .signup-form form button {
	background: #C8C8C8;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  padding: 6px 25px;
}







/*.header-middle .container .row {
  border-bottom: 1px solid #f5f5f5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}*/

/*.header-middle .container .row .col-sm-4{
  padding-left: 0;
}*/

/*.header-middle .container .row .col-sm-8 {
	padding-right:0;
}*/

/*.footer-top .container {
  border-bottom: 1px solid #E0E0DA;
  padding-bottom: 20px;
}*/

/*.footer-widget .container {
  border-top: 1px solid #FFFFFF;
  padding-top: 15px;
}*/





.new{
  position: absolute;
  top: 0;
  right: 0;
}




.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {

  border-color: transparent !important;
  color: #009900 !important;
  cursor: default;
  z-index: 2;
}

